.counter {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 15px;
  background-color: #ffe5ed;
  border-radius: 20px;
  font-weight: bold;
  color: #bf0b65;
}

.icon {
  font-size: 1.3rem;
}

.count {
  font-size: 1.1rem;
}
