.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  margin: 20px auto;
  display: block;
  transition: border-color 0.3s;
  background-color: #f2f3f4;
  color: black;
}

.searchInput:focus {
  border-color: #ffe5ed;
  outline: none;
}
